.theme-1 {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.theme-2 {
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
}

.theme-3 {
    background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}

.theme-4 {
    background: linear-gradient(to right, #00b4db, #0083b0);
}

.theme-5 {
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
}

.theme-6 {
    background: linear-gradient(to right, #636363, #a2ab58);
}

.theme-7 {
    background: linear-gradient(to right, #bc4e9c, #f80759);
}

.theme-8 {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.theme-9 {
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.theme-10 {
    background: linear-gradient(to right, #00b09b, #96c93d);
}

.theme-11 {
    background: linear-gradient(to right, #f00000, #dc281e);
}

.theme-12 {
    background: linear-gradient(to right, #304352, #d7d2cc);
}

.theme-13 {
    background: linear-gradient(to right, #ba8b02, #181818);
}

.theme-14 {
    background: linear-gradient(to right, #d1913c, #ffd194);
}